.img-thumbnail {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: 1px solid black;
    width: 150px;
    height: auto;
}

.moreInfo {
    background-color: #4B0082;
    color: white;
    border-radius: 6px;
}

.banner {
    background-color: #00855A;
}

h2 {
    color: black;
    font-weight: bold;
    padding-top: 10px;
}

.d-flex {
    padding-bottom: 15px;
}

main {
    background-color: #DDE9D7 ;
}






